@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  color: inherit;
}

:root {
  font-size: 15px;
}

body {
  font-family: 'Poppins', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #B1AEB8;
  line-height: 1.5625em;
}

a {
  text-decoration: none;
  color: unset;
}

.App {
  background-color: #17141d;
}